<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input
        type="text"
        placeholder="Name"
        #memberName
        (change)="saveMember(memberName.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input
        type="number"
        placeholder="#of teams"
        #teamsNumberInput
        (input)="saveTeamsNumber(+teamsNumberInput.value)"
        [value]="teamsNumber"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <!-- option 1 -->
    <div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>
    <!-- option 2 -->
    <!-- <div class="error-msg" *ngIf="isError">Name can't be empty</div> -->
  </div>
</div>
